
body{
	padding: 0;
	margin: 0;
}
img
{
	position: absolute;
}
.HolumbsFridge{
  left: -0px;
  top: 5px;
	}
.Vinyl1{
  left: 999px;
  top: 75px;
}
.Plane{
  left: 1422px;
  top: 122px;
}
.HotSauce{
  left: 798px;
  top: 635px;
}
.Brownie{
  left: 1257px;
  top: 684px;
}
.Yesterdat {
	postion: absolute;
	top: 1475px;
	left: 999px;
	z-index: 20;
}

.mustardbutton {
	background-color: transparent;
	text-decoration: none;
	font-size: 35px;
	color: #4E3D00;
	margin: 0%;
	padding: 0%;
	left: 1120px;
	top: 510px;
	width: 55%;
	position: absolute;
	transition: 0.5s ease-in, out;
	font-family: Trattatello, fantasy;
}

.mustardbutton:hover {
	color: purple;
	width: 60%;
	font-size: 55px;
	left: 1080px;
}






